/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	 font-family:"arial", verdana Helvetica, sans-serif;
}
h2 h4{
	font-family: 'Days One', sans-serif;
}
.wrap{
	width:80%;
	margin: 0 auto;
}
.wrap,.main,.header,.footer{
	/* for smooth animated effect */
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
/*header*/
.hdr-bg{
	background:#E7BD2B url('../images/hdr-bg.png')repeat-x;
}
.header{
	padding: 0px 0;
}
/*logo*/
.logo{
	float:left;
}
/*menu*/
.hdr-nav{
	float:right;
}
.menu {	
	height: 74px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.menu li {
	z-index:999;
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 74px;
	border-left: 1px solid rgb(160, 133, 45);
	border-right: 1px solid rgb(241, 204, 72);
}
/* Links */
.menu li a {
	display: block;
	padding: 22px 50px;
	line-height: 28px;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	text-shadow: 0px 0px 1px rgba(0,0,0,.6);
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.menu li:first-child a { border-left: 1px solid rgb(241, 204, 72);}
.menu li:last-child a{ border-right: 1px solid rgb(160, 133, 45); }
.menu li:hover > a { 
	color: #fff;
	background:#f24141; 
}
/* Sub Menu */
.menu ul {
	position: absolute;
	top: 74px;
	left: 0;
	opacity: 0;
	background:rgb(216, 175, 34);
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
.menu li:hover > ul { opacity: 1; }
.menu ul li {
border: none;
	height:0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}
.menu li:hover > ul li {
	height:36px;
	overflow: visible;
	padding: 0;
	background: #E7BD2B url('../images/hdr-bg.png')repeat-x;
}
.menu ul li a {
	width: 104px;
	padding: 4px 0 4px 50px;
	margin: 0;
	border: none;
}
.menu li a img{
	margin-top:-2px;
	vertical-align: top;
}
.menu ul li:first-child a {
	 border-left: none; 
	 border-right: none;
}
.menu ul li:last-child a {
	  border-left: none; 
	 border-right: none;
}
/*drp-dwn-memu*/
.drp-dwn {
	display: none;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	display: block !important;
	margin-bottom: 2px;
	background: rgb(216, 175, 34);
	border: 1px solid rgb(214, 174, 30);
	width:100%;
	color: #fff;
	cursor: pointer;
}
/**/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height: 90%;
  border: 0;
}
/*content*/
.cnt-bg{
	background: url('../images/cnt-bg.png');
}
.main{
	background: #fff;
	box-shadow: 0px 0px 10px #555;	
}
.grids{
	background:rgb(255, 212, 60);
}
.span_1_of_4 {
	width: 23.1%;
}
.col {
	margin: 0% 0 0% 1.6%;
	display: block;
	float: left;
}
.grid{
	padding:30px 10px;
	text-align:center;
	border-right:1px solid rgba(173, 142, 63, 0.57);
}
.grid:nth-last-child(2){
	text-align:center;
	border-right:none;
}
.icon ul li{
	background: url('../images/icon1.png');
}
.icon ul li:hover{
	background: url('../images/icn1hvr.png');
}
.grid h4{
	margin-bottom: 12px;
}
h4{
	font-size:34px;
	color:#333;
}
p{
	font-size:13px;
	color: #222;
	line-height: 1.8em;
}
.btn{
	padding: 40px 0 20px;
}
.btn a{
	padding: 20px 12px;
	color: #606060;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 2.5em;
	-moz-border-radius: 2.5em;
	border-radius: 2.5em;
	-o-border-radius: 2.5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px rgb(250, 250, 250);
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.btn a:hover{
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
/*cnt-btm*/
.cnt-btm{
	padding:30px 20px;
}
.cnt-hdr{
	margin-left: 16px;
}
/* Advanced CSS hover styles */
.img-hvr{
	margin-top: 10px;
}
.img-hvr ul { overflow: hidden; padding: 0px; }
.img-hvr ul > li {
	position: relative;
	float: left;
	list-style: none;
	font-size: 10px;
	margin-right: 0px;
	width:100%;
}
.img-hvr  ul a 							{ text-decoration: none; display: block; }
.img-hvr ul li img 						{ display: block; position: relative; z-index: -1;width:100%; } /* IE8 fix, background colour appears behind img for uknown reason set negative z-index */
.img-hvr ul li:not([class=na]) img 		{ position: static; } /* Reset relative position, as this plays havoc with good browsers */
.img-hvr ul a:hover, ul a:focus			{ display: block; outline: none; -moz-box-shadow: 3px 3px 5px #000; -webkit-box-shadow: 3px 3px 5px #000; box-shadow: 3px 3px 5px #000; }
.img-hvr ul a:hover img, ul a:focus img	{ outline: 3px solid #ccc; }
.img-hvr ul a:hover:after,ul a:focus:after
{
	content: attr(title);
	color: #000;
	position: absolute;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.7);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7), rgba(204,204,204,0.7)); /* Firefox 3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.7)), to(rgba(204,204,204,0.7))); /* Safari */
	display: block;
	text-shadow: 1px 1px 1px #fff;
}
.img-hvr ul a.reverse:hover:after,
.img-hvr ul a.reverse:focus:after { top: 0; right: 0; }
.img-hvr ul a.offset:hover:after,ul a.offset:focus:after { top: 50%; margin-top: -15px; }
.img-hvr ul a.alternate01:hover:after,ul a.alternate01:focus:after
{ 
	top: 0;
	width: 50%; 
	height: 100%; 
	line-height: normal; 
	text-align: left; 
	padding: 4px; 
	font-size: 12px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Change colours */
.img-hvr ul.highlight01 a:hover img, ul.highlight01 a:focus img { outline-color: #1E528C; }
.img-hvr ul.highlight01 a:hover:after,ul.highlight01 a:focus:after
{
	background: rgb(30,82,140); 
	background: rgba(30, 82, 140, 0.7);
	background: -moz-linear-gradient(top, rgba(30, 82, 140, 0.7), rgba(43, 117, 200, 0.7)); /* Firefox 3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 82, 140, 0.7)), to(rgba(43, 117, 200, 0.7))); /* Safari */
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
/*cnt-btm1*/
.span_1_of_3 {
	width: 31.6%;
}
.content-bottom{
	border-top: 1px ridge rgb(243, 243, 235);
	padding:30px 20px;
	text-align: center;
}
.content-bot-top{
	margin: 10px 0;
}
.link-1 {
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	line-height: 1em;
	color: #222;
	padding:15px 0;
	text-transform: uppercase;
}
.link-1 a {
	color: #ecbb11;
}
.link-1 a:hover {
	color: #222;
}
.content-bottom h5{
	margin-bottom:10px;
	color:rgb(182, 144, 14);
	font-size:24px;
}
.rd-more1{
	padding-top:20px;
}
.rd-more1 a,.nav-form input[type="submit"],.btn-group1 a,.contact-form form input[type="button"]{
	font-size: 13px;
	padding:6px 18px;
	border: 1px solid #c08c32;
	background: #fed66e;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fed66e 0%, #eaae45 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed66e), color-stop(100%,#eaae45));
	background: -webkit-linear-gradient(top, #fed66e 0%,#eaae45 100%);
	background: -o-linear-gradient(top, #fed66e 0%,#eaae45 100%);
	background: -ms-linear-gradient(top, #fed66e 0%,#eaae45 100%);
	background: linear-gradient(top, #fed66e 0%,#eaae45 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed66e', endColorstr='#eaae45',GradientType=0 );
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	color: #222;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.rd-more1 a:hover,.nav-form input[type="submit"]:hover,.btn-group1 a:hover,.contact-form form input[type="button"]:hover{
	color:#333;
	border: 1px solid #c08c32;
	background: #fed76f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fed76f 0%, #f9bd53 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed76f), color-stop(100%,#f9bd53));
	background: -webkit-linear-gradient(top, #fed76f 0%,#f9bd53 100%);
	background: -o-linear-gradient(top, #fed76f 0%,#f9bd53 100%);
	background: -ms-linear-gradient(top, #fed76f 0%,#f9bd53 100%);
	background: linear-gradient(top, #fed76f 0%,#f9bd53 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed76f', endColorstr='#f9bd53',GradientType=0 );
	box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/*footer*/
.footer-bg{
	background:url('../images/hdr-bg.png');
}
.f-main{
	text-align:center;
	padding: 30px 0;
}
.footer-grid {
	text-align: center;
}
.footer-grid h4{
	margin-bottom: 10px;
}
.nav-form {
	margin: 1% 39% 0%;
	text-align: center;
}
.nav-form input[type="text"] {
	position:relative;
	outline: none;
	background: #fff;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 18px;
	font-size: 13px;
	color: #232323;
	width: 90%;
	float: left;
	padding: 6px 10px;
}
.nav-form input[type="text"] {
	width:98%;
	right: 52px;
}
.nav-form input[type="submit"] {
	right: 38%;
}
.nav-form input[type="submit"]{
	float:right;
	position: absolute;
	cursor: pointer;
}
.f-icons{
	margin: 20px 0 0px;
}
.f-icons nav ul li {
	display: inline-block;
	margin-right: 1%;
}
/*footer1*/
.ftr-bg{
	background:#fa1f1f;
}
.footer{
	padding: 30px 0;
}
.footer p.w3-link {
	text-align:center;
	color: #FFF;
	font-size:13px;
}
.footer p.w3-link a {
	color: rgb(250, 201, 3);
	text-decoration: none;
	font-size:13px;
}
.footer p.w3-link a:hover {
	text-decoration: underline;
}
/*About*/
.abt-main {
float: left;
width: 78.33%;
margin-right: 2%;
}
.abt-grid{
	padding:20px 20px 20px;
}
.btn-group1{
	margin: 15px 0 10px;
}
.top{
	margin: 10px 0 20px;
}
.abt-grid img{
	box-shadow: 0px 0px 10px #222;
border: 5px solid #fff;
}
.sidebar {
float: left;
width: 19.2%;
margin-top: 20px;
}
.sidebar ul{
	margin-top: 10px;
}
.sidebar ul li a{
	font-size: 13px;
	color:#222;
	line-height: 1.8em;	
}
.sidebar ul li a:hover{
	color:rgb(202, 157, 0);
}
/*Service*/
.services{
	margin:20px 0 20px 20px;
}
.ser-list {
width: 20.9%;
float: left;
border: 1px solid #F1F1F1;
padding: 12px;
margin: 15px 15px 0px 0px;
}
.ser-list:nth-child(5),.ser-list:nth-child(9){
	margin-right: 0;
}
h5{
	font-size:20px;
	color: #333;
}
/*Contact*/
.contact{
	padding: 20px;
}
.contact-left{
	float: left;
	width:53.9%;
	margin-right:2%;
}
.contact-right{
	float:right;
	width:44%;
}
table{
	width:100%;
}
.map{
	margin-top:30px;
	background:#fff;
	border:1px solid #aaa;
	font-size:12px;
}
.table-form{
	margin-top:4px;
}
.table-form input[type="text"]{
	background: #ffffff;
	width:90%;
	border: 1px solid #dedede;
	outline:none;
	padding: 8px;
	margin-top:25px;
	color:#666;
	overflow:hidden;
	border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
}
textarea{
	font-family: 'Monda', sans-serif;
	width:90%;
	height:100px;
	padding: 8px;
	margin-top: 25px;
	border: 1px solid #dedede;
	outline:none;
	color:#666;
	resize:none;
	background: #ffffff;
}
.table-form input[type="submit"]{
	margin: 30px 0px 20px 380px;
}
/*contact-form*/
.contact-form{
	margin-top:20px;
}
.contact-form-r{
	float:left;
}
.contact-form form{
	background:none;
}
.contact-form form input[type="button"]{
	cursor:pointer;
	font-size:13px;
	padding:6px 30px;
	border-radius:1.3em;
	-moz-border-radius:1.3em;
	-webkit-border-radius:1.3em;
}
/*Media Queries*/
@media all and (max-width:1366px) and (min-width:1280px){
.wrap{
		width: 90%;
}
}
@media all and (max-width:1280px) and (min-width:1024px){
.wrap{
		width: 90%;
}
/*Home*/
.nav-form {
	margin: 2% 35% 5%;
	text-align: center;
}
.nav-form input[type="text"] {
	width:80%;
	right: 24px;
}
.nav-form input[type="submit"] {
	right: 35%;
}
/*About*/
.abt-main {
	width: 73.33%;
}
.sidebar {
	width: 23.2%;
}
/*services*/
.ser-list {
	padding: 10px;
	margin: 15px 10px 0px 0px;
}
}	
@media all and (max-width:1024px) and (min-width:800px){
.wrap{
	width: 90%;
}
/*Home*/
.menu li a {
	display: block;
	padding: 22px 30px;
}
h4 {
	font-size: 30px;
}
.grid h4 {
	margin-bottom: 10px;
}
.cnt-btm {
	padding: 20px;
}
.content-bottom {
	padding: 20px;
}
.content-bot-top {
	margin: 0px 0;
}
.content-bottom h5 {
	font-size: 18px;
}
.rd-more1 {
	padding: 20px 0 10px;
}
.nav-form {
	margin: 2% 35% 5%;
	text-align: center;
}
.nav-form input[type="text"] {
	width:80%;
	right: 24px;
}
.nav-form input[type="submit"] {
	right: 335px;
}
/*About*/
.abt-main {
	width: 66.33%;
}
.sidebar {
	width: 29.2%;
}
/*services*/
.ser-list {
	width:25.9%;
	padding: 10px;
	margin: 15px 10px 0px 0px;
}
}
@media all and (max-width:800px) and (min-width:640px){
.wrap{
	width: 90%;
}
/*Home*/
.menu li a {
	display: block;
	padding: 22px 20px;
}
.grid h4 {
	margin-bottom: 10px;
}
h4{
	font-size: 26px;
}
p {
	font-size: 12px;
}
.cnt-btm ,.content-bottom {
	padding: 20px;
}
.link-1 {
	font-size: 16px;
	font-weight:bold;
	padding: 10px 0;
}
.content-bottom h5 {
	font-size: 14px;
	font-weight:bold;
}
.f-main {
	padding: 20px;
}
.footer-grid h4 {
	margin-bottom: 10px;
}
.nav-form {
	margin: 2% 30% 5%;
	text-align: center;
}
.nav-form input[type="text"] {
	width:80%;
	right: 20px;
}
.nav-form input[type="submit"] {
	right: 220px;
}
/*About*/
.abt-main {
	width: 64.33%;
}
.sidebar {
	width: 31.2%;
}
/*services*/
.ser-list {
	width:41.9%;
	padding: 10px;
	margin: 15px 10px 0px 0px;
}
.ser-list:nth-child(3),.ser-list:nth-child(9){
	margin-right: 0;
}
}
@media all and (max-width:640px) and (min-width:480px){
.wrap{
	width: 90%;
}
/*Home*/
.logo{
	margin-top:6px;
	width: 40%;
}
.menu li a {
	padding: 22px 10px;
}
.menu ul li a {
	padding: 4px 0 4px 17px;
}
.grid:nth-last-child(2) {
	text-align: center;
	border-right: none;
}
.grid {
	padding: 20px 6px;
}
.grid h4 {
	margin-bottom: 6px;
}
h4{
	font-size: 20px;
}
p {
	font-size: 12px;
}
.cnt-btm ,.content-bottom {
	padding: 20px;
}
.link-1 {
	font-size: 14px;
	font-weight:bold;
	padding: 10px 0;
}
.content-bottom h5 {
	font-size: 13px;
	font-weight:bold;
}
.f-main {
	padding: 20px;
}
.footer-grid h4 {
	margin-bottom: 10px;
}
.nav-form {
	margin: 2% 30% 5%;
	text-align: center;
}
.nav-form input[type="text"] {
	width:80%;
	right: 32px;
}
.nav-form input[type="submit"] {
	right: 170px;
}
/*About*/
.abt-main {
	width: 56.33%;
}
.sidebar {
	width: 40.2%;
}
/*services*/
.ser-list {
	width:38.9%;
	padding: 10px;
	margin: 15px 10px 0px 0px;
}
.ser-list:nth-child(3),.ser-list:nth-child(9){
	margin-right: 0;
}
}
@media all and (max-width:480px) and (min-width:320px){
.wrap{
	width: 90%;
}
/*Home*/
.logo {
	float:none;
	text-align:center;
}
.menu li {
	display: none;
}
.drp-dwn {
	margin-top:16px;
	width: 100%;
	display: inline-block;
}
h4{
	font-size: 22px;
}
.col {
	display:block;
	margin:0%;
	float: left;
}
.span_1_of_4 {
	width: 100%;
}
.grid{
	padding:10px;
	border-right:none;
	border-bottom:1px solid rgba(173, 142, 63, 0.57);
}
.grid:nth-last-child(2) {
	text-align: center;
	border-bottom: none;
}
.btn {
	padding: 30px 0;
}
.cnt-hdr {
	margin-left: 0px;
}
.cnt-btm {
	padding: 10px;
}
.content-bottom {
	padding: 10px;
}
.span_1_of_3 {
	width: 100%;
}
.content-bot-top {
	margin: 0px 0 10px;
}
.content-bottom h5 {
	margin-bottom: 0px;
}
.link-1 {
	padding: 10px 0;
}
.rd-more1 {
	padding-top:0px;
	margin: 15px 0 20px;
}
.f-main {
	padding: 10px;
}
.nav-form {
	margin: 2% 20% 0%;
	text-align: center;
}
.nav-form input[type="submit"] {
	right: 14%;
}
.f-icons {
	margin: 15px 0 0px;
}
/*About*/
.abt-main {
	width: 100%;
	margin-right: 0;
}
.abt-grid {
	padding: 10px;
}
.abt-grid img {
	width: 98%;
}
.sidebar {
	margin-top:0;
	width: 100%;
}
.sidebar h4{
	margin-left: 10px;
}
.sidebar ul {
	margin-top:0px;
	padding: 10px;
}
/*services*/
.services {
	margin: 15px 0 15px 15px;
}
.ser-list {
	width:40.9%;
	padding: 10px;
	margin: 15px 10px 0px 0px;
}
.ser-list:nth-child(3),.ser-list:nth-child(9),.ser-list:nth-child(10),.ser-list:nth-child(7){
	margin-right: 0;
}
/*contact*/
.contact{
	padding:10px;
}
.contact-left{
	float: left;
	width:100%;
	margin-right:0%;
}
.contact-right{
	margin-top:10px;
	float:right;
	width:100%;
}
.table-form input[type="text"],textarea {
	margin-top: 10px;
}
.contact-form {
	margin-top: 10px;
}
.map {
margin-top: 10px;
}
}
@media all and (max-width:320px) and (min-width:240px){
.wrap{
	width: 90%;
}
/*Home*/
.logo {
	float:none;
	text-align:center;
}
.menu li {
	display: none;
}
.drp-dwn {
	margin-top:16px;
	width: 100%;
	display: inline-block;
}
h4{
	font-size:22px;
}
p{
	line-height: 1.4em;
}
.link-1,.content-bottom h5 {
	font-size:14px;
}
.col {
	display:block;
	margin:0%;
	float: left;
}
.span_1_of_4 {
	width: 100%;
}
.grid{
	padding:10px;
	border-right:none;
	border-bottom:1px solid rgba(173, 142, 63, 0.57);
}
.grid:nth-last-child(2) {
	text-align: center;
	border-bottom: none;
}
.btn {
	padding: 30px 0;
}
.cnt-hdr {
	margin-left: 0px;
}
.cnt-btm {
	padding: 10px;
}
.content-bottom {
	padding: 10px;
}
.span_1_of_3 {
	width: 100%;
}
.content-bot-top {
	margin: 0px 0 10px;
}
.content-bottom h5 {
	margin-bottom: 0px;
}
.link-1 {
	padding: 10px 0;
}
.rd-more1 {
	padding-top:0px;
	margin: 15px 0 20px;
}
.f-main {
	padding: 10px;
}
.nav-form {
	margin: 2% 20% 0%;
	text-align: center;
}
.nav-form input[type="text"] {
	width: 80%;
	right: 40px;
}
.nav-form input[type="submit"] {
	right: 14%;
}
.f-icons {
	margin: 10px 0 0px;
}
/*About*/
.abt-main {
	width: 100%;
	margin-right: 0;
}
.abt-grid {
	padding: 10px;
}
.abt-grid img {
	width: 97%;
}
.sidebar {
	margin-top:0;
	width: 100%;
}
.sidebar h4{
	margin-left: 10px;
}
.sidebar ul {
	margin-top:0px;
	padding: 10px;
}
/*services*/
.services {
	margin: 10px 0 10px 10px;
}
.ser-list {
	width:87.9%;
	padding: 10px;
	margin: 10px 0px 0px 0px;
}
/*contact*/
.contact{
	padding:10px;
}
.contact-left{
	float: left;
	width:100%;
	margin-right:0%;
}
.contact-right{
	margin-top:10px;
	float:right;
	width:100%;
}
.table-form input[type="text"],textarea {
	margin-top: 10px;
}
.contact-form {
	margin-top: 10px;
}
.map {
	margin-top: 10px;
}
}